@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@200&family=Roboto:wght@300&family=Supermercado+One&display=swap');

#menubar {
    text-align: center;
    margin: 25px;
    padding: 50px;
    p { 
        margin-bottom: 50px;
        margin-left: 100px;
        margin-right: 100px;
    }
    h1 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    h2 {
        font-size: 30px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}