@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');

html {
  background-color: rgb(121, 0, 121);
}

#titlescreen {
  background-color: rgb(116, 0, 116);
  height: 100%;
  h1 {
    text-align: center;
    font-family: 'Supermercado One', cursive;
    font-size: 50px;
    margin-top: 50px;
  }
  
}